/**
 *
 * {{properCase routeName}}
 *
 * @author {{username}}
 * @date {{date}}
*/

import React from 'react';
import PropTypes from 'prop-types';
import styles from './{{properCase routeName}}.module.scss';

const {{properCase routeName}} = () => {
  return (
    <h1>{{properCase routeName}}</h1>
  )
}

{{properCase routeName}}.propTypes = { };

{{properCase routeName}}.defaultProps = { };

export default {{properCase routeName}};
